.container {
  margin: auto;
  text-align: center;
	max-width: 100vh;
  }
  .nav_bar{

    background-color:LightBlue;
  }
  #nav{
    background-color:LightBlue;
	font-weight: bold;
	color: inherit;
  }
  #nav-border {
    background-color:blue;
	border-bottom: 1px solid #212529;
  }
  #main {
	margin-top: 1em;
	margin-bottom: 4em;
  }
  #home-jumbotron {
	background-color: inherit;
  }
  .font-125 {
	font-size: 125%;
  }
  .tag-btn {
	margin-bottom: 0.3em;
  }
  img {
	max-width: 100%;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: LightBlue;
    text-align: center;
  }
